[Unit]
Description=Lazybot

[Service]
User=dmitry
WorkingDirectory=/home/dmitry/dev/lazy
ExecStart=python3 bot.py
# optional items below
Restart=always
RestartSec=3
# replace /home/user/.virtualenv/bin/python with your virtualenv and main.py with your script

[Install]
WantedBy=multi-user.target